# 12d compiled outputs
*.4do
*.4dl

# logs / temp
*.log
*.tmp

# documents not for repo
*.pdf
*.txt
*.json
*.go

# keep README if wanted
*.md
!README.md

# OS
Thumbs.db
Desktop.ini

# VS Code local settings
.vscode/

# optional workspace files
*.code-workspace

# junk
tatus

# test folders / test files
test/
*/test/
test.4dm
TEST.4DM

# backups
*BACKUP*
*backup*

# ps1 files
.ps1